/* ----------------------------------
               Utility 
-------------------------------------*/

.half-hidden {
    opacity: 0.25;
}

.centered-text {
    text-align: center;
}

.buffer {
    margin-top: 2rem;
}

.non-functioning button{
    text-decoration: line-through !important;
    cursor: not-allowed;
}

.button-bar {
    width: 50%;
    margin: 0px;
}

.button-bar:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* TODO-JD: figure out what's adding the ghost spacing */
    margin-right: -0.6rem;
}

.button-bar:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-color: #e1e1e1;
}


[v-cloak] {
    display: none;
}

/* ----------------------------------
               General  
-------------------------------------*/

.main-content {
    padding: 15px;
    width: calc(100% - 160px);
    float: left;
}

.tabs > .columns {
    border-bottom: 2px solid #eee;
}

.tabs a {
    text-decoration: none;
}

.tabs .active {
    border-bottom-color: #aaa;
}

.tabs .active a{
    color: inherit;
}

/* ----------------------------------
               Controls 
-------------------------------------*/
.chart-wrapper {
    width: 100%;
}

#loader {
    color:#ccc;
    display: none;
}

.case-control i {
    margin-left: 5px;
    color: #BFD0B0;
}

.case-control {
    padding: 0 15px;
}

.case-control.active {
    /*background-color: #BFD0B0;*/
    /*color: #e0ffc4;*/
    border-color: transparent;
}




/* ----------------------------------
                Login 
-------------------------------------*/
/* There doesn't seem to be anything here*/





/* ----------------------------------
              Timesheet 
-------------------------------------*/
.control-bar {
    padding: 15px;
    width: 100px;
    float: left;
}

.clock-wrapper {
    width: 50%;
    margin: 15px auto;
}

.pagination-controls span{
    font-size: 2rem;
}

.split-date h5 {
    margin-bottom: 0px;
}



/* ----------------------------------
                Case
-------------------------------------*/
/* There doesn't seem to be anything here*/


/* ----------------------------------
               Search
-------------------------------------*/
/* There doesn't seem to be anything here*/


/* ----------------------------------
            Pay Period
-------------------------------------*/
.pay-period-wrapper td {
    padding: 4px 15px;
    line-height: 1;
}

