/* ----------------------------------
               Utility 
-------------------------------------*/
.half-hidden {
    opacity: 0.25;
}

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.buffer {
    margin-top: 2rem;
}

.non-functioning {
    opacity: 0.3;
}

.non-functioning button{
    text-decoration: line-through !important;
    cursor: not-allowed;
}

.button-bar {
    width: 50%;
    margin: 0;

    border-top-right-radius: 0;
    border-top-left-radius: 0; 
}

.button-bar:first-child:not(:only-child) {
    border-bottom-right-radius: 0;
    margin-right: -0.6rem;
}

.button-bar:last-child:not(:only-child) {
    border-bottom-left-radius: 0;
}
.red {
    color: #AD4D32;
}

.red:hover {
    color: #8D402A
}

.green {
    color: #9cc3b1;
}

.brown {
    color: #1A1406;
}

.dark-red {
    color: #5E261D;
}

.gray {
    color: #808080;
}

.light-gray {
    color: #e2e2e2;
}

.dark-gray {
    color: #444444;
}

.invert {
    filter: invert(85%);
    
}
body.invert {
    background-color: #333;
}

.small {
    font-size: small;
}

.invisible {
    visibility: hidden;
}

.border-bottom {
    border-bottom: #aaa solid 2px;
}

/* todo - rename */
.no-padding td {
    padding: 0;

    padding: 5px 1px;
}

[v-cloak] {
    display: none;
}

.hover-icon, 
 animate { 
    transition: all .1s ease-in-out; 
}
.hover-icon:hover { 
    transform: scale(1.3); 
}

.hover-icon.a-little:hover {
    transform: scale(1.02);
}

.button:hover .hover-icon { 
    transform: scale(1.5); 
}

i.smaller-font {
    font-size: 80%;
    margin-left: 0.2rem;
}

.no-overflow {
    overflow: hidden;
}

input.hidden-input {
    /* Fix this */
    border: none !important;        
    outline: none !important;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

/* Need to fix this important stuff :/ */
.add-form input {
    border-bottom: 2px dotted #dedede !important;
}

input.invalid {
    /* Fix this */
   border-bottom: 2px dotted #ff4426 !important;
}

.no-input {
    display: none;
}

.hover-fade {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.hover-fade:hover {
    opacity: 1;
}

i.block {
    display: block;
}

/*prevents selection on double click*/
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
}

/* ----------------------------------
               General  
-------------------------------------*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1A1406;
    font-weight: 300;
}
a:hover {
    cursor: pointer;
}

.container {
    max-width: none;
    width: auto;
    margin-right: 0;
    margin-left: 0;
    padding-left: 4%;
    padding-right: 4%;
}

.main-content {
    width: calc(100% - 110px);
    margin-left: 110px;
    margin-top: 1.7rem;
}

.tabs > .columns {
    border-bottom: 2px solid #eee;
    margin-bottom: 0;
}

.tabs a {
    text-decoration: none;
}

.tabs .active {
    border-bottom-color: #aaa;
}

.tabs a{
    color: inherit;
    color: #808080;
}

/* ----------------------------------
               Controls 
-------------------------------------*/
.control-bar {
    padding: 1.8rem;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;    
}

.nav {
    margin-top: 1rem;
}

.chart-wrapper {
    width: 100%;
}

.clock-wrapper {
    width: 100%;
}

.control-bar .pagination-controls button {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.control-bar .pagination-controls .active {
    color: #333333;
}

.control-bar .pagination-controls button:focus {
    border: 1px solid transparent;
}


#loader {
    color:#ccc;
    opacity: 0;
}

#loader.show-loader {
    opacity: 1;
    transform: scale(2);
}

#loader-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: #f6f6f6;
    opacity: 0;

    z-index: -100;

    transition: opacity 0.2s;
}
#loader-background.show-loader {
    opacity: 1
}

.case-control i {
    margin-left: 5px;
}

.case-control {
    padding: 0;
    border-radius: 0;
    width: 100%;
    font-size: 1.6rem;
    border-color: transparent;
}

.case-control:hover,
.case-control:focus {
    border: transparent;
}

.not-workin {
    font-size: 1rem;
}

.hidden-controls {
    font-size: 2.5rem;
}

.info-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.eight-hour-text {
    position: absolute;
    top: 11.2rem;
    z-index: 100;
    font-size: 13px;
    width: 100px;
    line-height: 0.5;
}


.notifier {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    background-color: #ffd8cc;
}



/* ----------------------------------
                Login 
-------------------------------------*/
/* There doesn't seem to be anything here*/





/* ----------------------------------
              Timesheet 
-------------------------------------*/
.pagination-controls span{
    font-size: 2rem;
}

.pagination-controls button {
    border-color: transparent;
    color: #c1c1c1;

    padding: 0;
    outline: none;
}

.pagination-controls button:focus {
    border: none;
}

.pagination-controls button:hover {
    border-color: transparent;
    background-color: #f6f6f6;
}


.split-date h5 {
    margin-bottom: 0;
}

.time-wrapper {
    margin-left: 0;
}

.time-wrapper tr td.controls i {
    opacity: 0;
}

.time-wrapper tr:hover td.controls i {
    opacity: 1;
}

.time-wrapper tbody tr:hover {
    background-color: #fafafa;
}

.time-wrapper tbody tr.green-bg {
    background-color: #f4f5f4;
}

/* Add Form */
.add-form {
    /* text-align: center; */
    position: fixed;
    bottom: 0;
    display: inline-block;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 6rem;
    margin-bottom: -5rem;
}

.add-form i {
    font-size: x-large;
    vertical-align: middle;
}

.add-form i:not(.close) {
    display: block;
}

.add-form .close:first-of-type() {
    display: block;
}

.add-form form {
    display: inline-block;
    margin-left: 2.5rem;
    margin-bottom: 0;
    padding: 0.6rem;
}

.add-form input {
    margin-left: 2.5rem;
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px dotted #dedede;
}

.add-form input.case {
    width: 8rem;
    
}

.add-form input.time {
    width: 8rem;
}
.add-form input.time:last-of-type {
    margin-left: 0;
}

.add-form button {
    margin-bottom: 0;
    margin-left: 2.5rem;
    background-color: white;
}


/* ----------------------------------
                Case
-------------------------------------*/
.copy {
    margin: 0 auto;
}

.copy p {
    background-color: transparent;
}

.case-wrapper li {
    margin-bottom: 0;
}

.case-title {
    margin-top: 2rem;
}

.starred-cases hr {
    margin-bottom: 0;
}

/* ----------------------------------
               Search
-------------------------------------*/
/* There doesn't seem to be anything here*/


/* ----------------------------------
            Pay Period
-------------------------------------*/
.pay-period-wrapper td {
    padding: 4px 15px;
    line-height: 1;
}

.pay-period-wrapper h4 {
    margin-bottom: 0;
}

.report-controls > * {
    margin-left: 10px;
}
 
.timesheet-chart-wrapper {
    width: 50vw;
    margin: 0 auto;
}

/* ----------------------------------
               Metrics
-------------------------------------*/
.metrics-wrapper h5 {
	margin-bottom: 0px;
}


.metrics-wrapper button {
	margin: 0px 20px 0px 0px;
}

.link-wrapper a{
	margin: 10px;
}



/* ----------------------------------
               Mobile
-------------------------------------*/

@media screen and (max-width: 550px) {
    .control-bar {
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .pagination-controls .columns {
       width: 30.6666666667%;
       margin-left: 4%;
    }
}


/*  SKELTON's BREAKPOINTS */
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* ----------------------------------
            Pika Overrides
-------------------------------------*/
.pika-single {
    box-shadow: none !important;
    border-color: #aaa;
}