.half-hidden {
    opacity: 0.25;
}

.centered-text {
    text-align: center;
}

.buffer {
    margin-top: 2rem;
}

.status-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 15px;
}

.hour-donut {
    width: 80px;
}

#loader {
    color:#ccc;
    display: none;
}

.split-date h5 {
    margin-bottom: 0px;
}

.tabs > .columns {
    border-bottom: 2px solid #eee;
}

.tabs a {
    text-decoration: none;
}

.tabs .active {
    border-bottom-color: #aaa;
}

.tabs .active a{
    color: inherit;
}

.case-controls {
    color: #ccc;
}

.chart-wrapper {
    width: 100px;
}

.pagination-controls span{
    font-size: 2rem;
}