<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Lister</title>
	<meta name="description" content="Making your miserable life with fogbugz a little better.">
	<meta name="author" content="Jason Domogalla">


	<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Font
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- There doesn't seem to be anything here -->


	<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/styles.css">


	<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/chartjs.png">


</head>
<body>
	<div id="app" v-cloak>
		<!-- CONTROLS -->
		<div class="control-bar" v-show="hasToken">
			<button class="button case-control">
				{{ currentPerson.ixBugWorkingOn || 'off the clock'}}
				<i v-on:click="stopWork()" v-show="currentPerson.ixBugWorkingOn > 0" class="fa fa-stop-circle red hover-icon" aria-hidden="true"></i>
			</button>
		
			<div class="chart-wrapper">
				<canvas id="chartone"></canvas>
				<div class="eight-hour-text centered-text" v-show="hasToken">{{timeWorked | humanize}}</div>
			</div>
			<div class="clock-wrapper">
				<canvas id="chartclock"></canvas>
			</div>
		</div>
		<div class="info-bar" v-show="hasToken">
			<span href="" :title="'logged in as ' + currentPerson.sFullName"><i class="fa fa-id-card gray" aria-hidden="true"></i></span>
			<a v-on:click.prevent="clearToken()" class="red" title="Clear your token"><i class="fa fa-times-circle hover-icon"></i></a>
			<a v-on:click.prevent="showPayPeriod" title="Hours this pay period"><i class="fa fa-clock-o hover-icon"></i></a>
			<a v-on:click.prevent="showSearch" title="Search for cases"><i class="fa fa-search gray hover-icon"></i></a>
			<span id="loader" class="centered-text"><i class="fa fa-asterisk fa-spin fa-fw fa-2x"></i></span>
		</div>
		<!-- END CONTROLS -->

		<div class="main-content">
			<div class="container">
				<!-- LOGIN VIEW -->
				<div class="login buffer" v-show="!hasToken">
					<div class="row">
						<div class="one column">&nbsp;</div>
						<div class="ten columns">
							<input v-model="subdomain" class="button u-full-width" type="text" placeholder="fogbugz subdomain">
						</div>
						<div class="one column">&nbsp;</div>
						</div>
					<div class="row">
						<div class="one column">&nbsp;</div>
						<form class="four columns non-functioning" v-on:submit.prevent="logon">
							<div class="">
								<input disabled v-model="username" class="button u-full-width" type="text" placeholder="username">
							</div>
							<div class="">
								<input disabled v-model="password" class="button u-full-width" type="password" placeholder="password">
							</div>
							<div class="">
								<button disabled class="button-primary u-full-width" type="submit">Logon</button>
							</div>
						</form>
						<div class="two columns">&nbsp;</div>

						<form class="four columns" v-on:submit.prevent="addToken" v-bind:class="{ 'half-hidden': hasToken }">
							<div class="">
								<input v-model="token" :disabled="hasToken" name="token" class="button u-full-width" type="text" placeholder="api token">
							</div>
							<div class="">
								<button :disabled="hasToken" class="button-primary u-full-width" type="submit">
									<span v-show="hasToken">token accepted</span>
									<span v-show="!hasToken">insert token</span>
								</button>
							</div>
							<div class="centered-text">
								<a href="http://help.fogcreek.com/8447/how-to-get-a-fogbugz-xml-api-token" target="_blank" class="u-full-width"> How to get an API token </a>
							</div>
						</form>
						<div class="one column">&nbsp;</div>
					</div>
				</div>
				<!-- END LOGIN VIEW -->

				<!-- EVERYTHING -->
				<div class="everything-else" v-show="hasToken">
					<!-- TABS -->
					<div class="tabs row" v-show="!payPeriodView && !searchView">
						<!-- Timesheet Header-->
						<h5 class="eight columns" v-bind:class="{ 'active': listView }">
							<!-- <a href="" v-on:click.prevent="showList">Timesheet -->
							<a href="" v-on:click.prevent="showList">
								<span class="timesheet-date"></span>{{dayToShow | formatDate('dddd MM.DD')}}</span>
							</a> 
						</h5>
						<!-- Case Header -->
						<h5 class="four columns" v-bind:class="{ 'active': caseView }">
							<!-- ON ENTER - Find a case; ON BLUR - Update to current case;  -->
							<input v-model="currentViewedCaseId" v-on:keyup.enter="updateCaseById(currentViewedCaseId)" v-on:blur="resetCurrentCaseId()" placeholder="enter a case number" class="hidden-input">
						</h5>
					</div>
					<!-- END TABS -->
					<div class="row">					
						<!-- SEARCH VIEW -->
						<div class="search-wrapper twelve columns" v-show="searchView">
							<div class="hidden-controls gray right-text">
								<a v-on:click.prevent="showList">close</a>							
							</div>
							<form class="row buffer" v-on:submit.prevent="search">
								<div class="six columns">
									<input v-model="searchQuery" name="searchQuery" class="button u-full-width" type="text" placeholder="what are ya lookin for">
								</div>
								<div class="six columns">
									<button class="button-primary u-full-width" type="submit">
										search
									</button>
								</div>
							</form>

							<table class="u-full-width" v-show="hasToken">
								<thead>
									<tr>
										<th> &nbsp; </th>
										<th>Case # </th>
										<th>Title</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="fcase of searchResults.cases">
										<td><i class="fa fa-play-circle" v-on:click.prevent="startWork(fcase.ixBug)" aria-hidden="true"></i> </td>
										<td>
											<a v-on:click.prevent="showCase(fcase.ixBug)">{{fcase.ixBug}}</a>
											<a :href="fogbugzLinkUrl + fcase.ixBug" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
										</td>
										<td>{{fcase.sTitle}}</td>
										<td>{{fcase.sStatus}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- END SEARCH VIEW -->

						<!-- SECRET PAY PERIOD VIEW -->
						<div class="pay-period-wrapper twelve columns" v-show="payPeriodView">
							<div class="hidden-controls u-pull-right gray">
								<!--<i class="fa fa-2x fa-download" aria-hidden="true"></i>
								<i class="fa fa-2x fa-times-rectangle" v-on:click="showList"></i>-->
								<a v-on:click.prevent="downloadCSV({ filename: 'stock-data.csv' })">download</a>
								<a v-on:click.prevent="showList">close</a>							
							</div>
							<div class="u-cf"></div>
							<h4> {{payPeriodStartDate | formatDate('MMMM D')}} - {{payPeriodEndDate | formatDate('D')}}
								<span class="u-pull-right">{{ payPeriodTotal | humanize }} </span>
							</h4>
							<span class="gray small"> {{workdays}} day pay period</span>
							<table class="u-full-width" v-show="hasToken">
								<thead>
									<tr>
										<th width="10%"> Day </th>
										<th width="10%"> Start </th>
										<th width="10%"> End </th>
										<th width="10%"> Duration </th>
										<th width="10%"> Case </th>
										<th width="50%"> Title </th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="interval of payPeriodIntervals" v-bind:class="{'green-bg': !interval.dtEnd}">
										<td> {{ interval.dtStart | formatDate('ddd D') }} </td>
										<td> {{ interval.dtStart | formatDate('hh:mm a') }} </td>
										<td> {{ interval.dtEnd | formatDate('hh:mm a') }} </td>
										<td> {{ interval.duration | humanize }} </td>
										<td>
											{{ interval.ixBug }}
										</td>
										<td>{{ interval.sTitle }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- END SECRET PAY PERIOD VIEW-->

						<!-- TIMESHEET VIEW -->
						<div class="time-wrapper eight columns" v-show="listView || caseView">
							<div class="row centered-text pagination-controls">
								<span class="four columns" v-if="dayToShow.day() !== 1">
									<button class="paginate button u-full-width" v-on:click="showPreviousDay">Previous Day</button>
								</span>
								<span class="four columns" v-if="dayToShow.day() === 1">
									<button class="paginate button button-bar" v-on:click="skipToFriday">Friday</button>
									<button class="paginate button button-bar" v-on:click="showPreviousDay">Previous Day</button>
								</span>
								<span class="four columns">&nbsp;</span>
								<!-- <span class="four columns">{{dayToShow | formatDate('dddd, MMM DD')}}</span> -->
								<span class="four columns" v-if="dayToShow.day() !== 5">
									<button class="paginate button u-full-width" v-on:click="showNextDay">Next Day</button>
								</span>
								<span class="four columns" v-if="dayToShow.day() === 5">
									<button class="paginate button button-bar" v-on:click="showNextDay">Next Day</button>
									<button class="paginate button button-bar" v-on:click="skipToMonday">Monday</button>
								</span>
							</div>
							<table class="u-full-width no-overflow" v-show="hasToken">
								<thead>
									<tr>
										<th width="5%">Case</th>
										<th width="10%">&nbsp;&nbsp;&nbsp;</th>
										<th width="71%">Title</th>
										<th width="7%">Start</th>
										<th width="7%">End</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="interval of timeIntervals.intervals" class="no-padding hover-row animate" v-bind:class="{'green-bg': !interval.dtEnd}">
										<td>
											<a v-on:click.prevent="showCase(interval.ixBug)">{{interval.ixBug}}</a>
										</td>
										<td class="controls">
											<i v-show="currentCaseId !== interval.ixBug" v-on:click="startWork(interval.ixBug)" class="fa fa-play-circle fa-lg green  hover-icon" aria-hidden="true"></i>
											<i v-show="currentCaseId === interval.ixBug" v-on:click="stopWork()" class="fa fa-stop-circle fa-lg red hover-icon" aria-hidden="true"></i>
											<i v-show="currentCaseId !== interval.ixBug" v-on:click="deleteInterval(interval.ixInterval)" class="fa fa-trash fa-lg red hover-icon" aria-hidden="true"></i>
											&nbsp;
											<a :href="fogbugzLinkUrl + interval.ixBug" target="_blank"><i class="fa fa-external-link fa-small hover-icon" aria-hidden="true"></i></a> 
											<!--<i class="fa fa-trash dark-red hover-icon" aria-hidden="true"></i>-->
											<!--<i class="fa fa-edit hover-icon" aria-hidden="true"></i>-->
										</td>
										<td class="overflow-popover"> {{interval.sTitle}}</td>
										<td class="split-date">
											<span>{{interval.dtStart | formatDate('hh:mma')}} </span>
										</td>
										<td class="split-date">
											<span v-show="interval.dtEnd">{{interval.dtEnd | formatDate('hh:mma')}}</span>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- <div class="clock-wrapper">
								<canvas id="chartclock"></canvas>
							</div> -->
						</div>
						<!-- END TIMESHEET VIEW -->

						<!-- CASE VIEW -->
						<div class="case-wrapper four columns" v-show="listView || caseView">
								<h5 v-show="currentCase.ixBug">
									{{currentCase.sTitle}}
									<a :href="fogbugzLinkUrl + currentCase.ixBug"  target="_blank">
										<i class="fa fa-external-link smaller-font hover-icon" aria-hidden="true"></i>
									</a>
								</h5>
								<hr v-show="currentCase.ixBug">
								<div v-for="event of currentCase.events" v-show="event.s" class="copy">
									<span v-html="event.sHtml"></span>
								</div>
							</div>
						<!-- END CASE VIEW -->
					</div>				
				</div>
				<!-- END EVERYTHING CONTAINER-->
			</div>
		</div>
	</div>

	<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

	<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Third Party -->
	<script type="text/javascript" src="scripts/thirdparty/jquery.js"></script>
	<script type="text/javascript" src="scripts/thirdparty/moment.js"></script>
	<script type="text/javascript" src="scripts/thirdparty/Chart.js"></script>
	<script type="text/javascript" src="scripts/thirdparty/vue.js"></script>
	<!--<script type="text/javascript" src="scripts/thirdparty/vue-router.js"></script>-->
	<script src="https://use.fontawesome.com/d04f0d059a.js"></script>

	<!-- My Scripts -->
	<script type="text/javascript" src="scripts/constants.js"></script>

	<!-- Utilities -->
	<script type="text/javascript" src="scripts/utilities/api.js"></script>
	<script type="text/javascript" src="scripts/utilities/authenticator.js"></script>
	<script type="text/javascript" src="scripts/utilities/convertArrayOfObjectsToCSV.js"></script>
	<script type="text/javascript" src="scripts/utilities/donut.js"></script>
	<script type="text/javascript" src="scripts/utilities/loader.js"></script>
	<script type="text/javascript" src="scripts/utilities/storage.js"></script>

	<!-- <script type="text/javascript" src="scripts/utilities.js"></script> -->
	<script type="text/javascript" src="scripts/filters.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>